fieldset {
    width: 600px;
}

label {
    display: inline-block;
    width: 90px;
}

input{
    display: inline-block;
}

button {
    margin-left: 50px;
}

span > a {
    display: inline-block;
}

.form-field {
    margin-top: 5px;
}

#bienvenida-logout {
    display: block;
    margin-left: auto;
    width: 331px;
}
